<?xml version="1.0"?><configuration>
  <configSections>
    <!--<section name="rewriter" requirePermission="false" type="Intelligencia.UrlRewriter.Configuration.RewriterConfigurationSectionHandler, Intelligencia.UrlRewriter"/>-->
  </configSections>
  <appSettings>
    <add key="productsLoaded" value="17.07.2016 04:45"/>
    <add key="categoriesLoaded" value="1/3/2015 22:07"/>
    <add key="specificationLoaded" value="1/3/2015 22:07"/>
    <add key="CrystalImageCleaner-AutoStart" value="true"/>
    <add key="CrystalImageCleaner-Sleep" value="60000"/>
    <add key="CrystalImageCleaner-Age" value="120000"/>
    <add key="infoEmail" value="admin@pinshop.co.rs"/>
    <add key="infoEmailPassword" value="pinservis023"/>
    <add key="orderEmail" value="admin@pinshop.co.rs"/>
    <add key="orderEmailPassword" value="pinservis023"/>
    <add key="companyName" value="PinShop"/>
    <add key="webShopUrl" value="http://www.pinshop.co.rs"/>
    <add key="webShopLoginUrl" value="http://www.pinshop.co.rs/login"/>
    <add key="smtp" value="mail.pinshop.co.rs"/>
    <add key="smtpPort" value="25"/>
    <add key="smtpSsl" value="false"/>
    <add key="logoUrl" value="http://www.pinshop.co.rs/images/logo.png"/>
    <add key="errorEmail" value="admin@pinshop.co.rs"/>
    <add key="errorEmailPassword" value="pinservis023"/>
    <add key="errorSmtp" value="mail.pinshop.co.rs"/>
    <add key="errorSmtpPort" value="25"/>
    <add key="errorSmtpSsl" value="false"/>
    <add key="mainWidth" value="290"/>
    <add key="mainHeight" value="232"/>
    <add key="mainName" value="main"/>
    <add key="listWidth" value="160"/>
    <add key="listHeight" value="110"/>
    <add key="listName" value="list"/>
    <add key="thumbWidth" value="50"/>
    <add key="thumbHeight" value="40"/>
    <add key="thumbName" value="thumb"/>
    <add key="showIfNotInStock" value="false"/>
    <add key="webshopAdminUrl" value="webshopAdmin"/>
    <add key="productDescription" value=""/>
    <add key="updateProductsFromExternalApplication" value="true"/>
    <add key="exportProducts" value="true"/>
    <add key="fillZeroCode" value="false"/>
    <add key="fillZeroBarcode" value="false"/>
    <add key="fullProductUrl" value="true"/>
    <add key="productInMultipleCategories" value="false"/>
    <add key="includeSubcategoriesInProductList" value="false"/>
    <add key="userDiscountVisible" value="true"/>
    <add key="deliveryCost" value="350"/>
    <add key="freeDeliveryTotalValue" value="10000"/>
    <add key="orderDiscountVisible" value="true"/>
    <add key="userDiscountOnlyOnProductNotOnPromotion" value="true"/>
    <add key="allowProductPriceChange" value="true"/>
    <add key="roundPromotionPrice" value="true"/>
  </appSettings>
  <connectionStrings>
    <!--<add connectionString="Server=pinshop.co.rs;Database=pinshop;User id=pinshop;Password=pinservis023" name="eshopConnectionString" providerName="System.Data.SqlClient"/>-->
    <!--<add connectionString="Server=66.45.251.234\MSSQLSERVER2012;Database=pinshop;User id=pinshop;Password=pinservis023" name="eshopConnectionString" providerName="System.Data.SqlClient"/>-->
    <add connectionString="Server=159.122.84.196,780	;Database=pinshop_pinshop;User id=pinshop_pinshop;Password=pinservis023" name="eshopConnectionString" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <system.web>
    <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
    <compilation debug="true" targetFramework="4.0">
      <assemblies>
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Shared, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportSource, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.CrystalReports.Engine, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.ReportAppServer.ClientDoc, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <!--<add assembly="CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A"/>
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089"/>
        <add assembly="System.Web.Abstractions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35"/>
      </assemblies>
    </compilation>
    <!--
            The <authentication> section enables configuration 
            of the security authentication mode used by 
            ASP.NET to identify an incoming user. 
        -->
    <authentication mode="Forms"/>
    <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.
            
        <customErrors mode="Off" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm" />
            <error statusCode="404" redirect="FileNotFound.htm" />
        </customErrors>
        -->
    <membership defaultProvider="CustomMembershipProvider">
      <providers>
        <add name="CustomMembershipProvider" type="eshopBL.CustomMembershipProvider" connectionString="eshopConnectionString" requiresQuestionAndAnswer="false" requiresUniqueEmail="true" PasswordFormat="Hashed"/>
      </providers>
    </membership>
    <roleManager defaultProvider="CustomRoleProvider" enabled="true">
      <providers>
        <add name="CustomRoleProvider" type="CustomRoleProvider" connectionStringName="eshopConnectionString"/>
      </providers>
    </roleManager>
    <pages controlRenderingCompatibilityVersion="3.5" clientIDMode="AutoID">
      <controls>
        <add tagPrefix="ajaxtoolkit" namespace="AjaxControlToolkit" assembly="AjaxControlToolkit"/>
      </controls>
    </pages>
    <httpHandlers>
      <!--<add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/>-->
    <add verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304"/></httpHandlers>
    <httpModules>
      <!--<add type="Intelligencia.UrlRewriter.RewriterHttpModule, Intelligencia.UrlRewriter" name="UrlRewriter"/>-->
    </httpModules>
    <customErrors mode="Off"/>
    <globalization uiCulture="sr" culture="sr-Latn-CS" fileEncoding="utf-8"/>
    <httpRuntime executionTimeout="6000" requestValidationMode="2.0"/>
    
  </system.web>
  <!-- 
        The system.webServer section is required for running ASP.NET AJAX under Internet
        Information Services 7.0.  It is not necessary for previous version of IIS.
    -->
  <system.webServer>
    <validation validateIntegratedModeConfiguration="false"/>
    <modules runAllManagedModulesForAllRequests="true">
      <!--<add name="UrlRewriter" type="Intelligencia.UrlRewriter.RewriterHttpModule"/>-->
    </modules>
    <handlers>
      <!--<add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/>-->
      <add name="BotDetectCaptchaHandler" preCondition="integratedMode" verb="GET" path="BotDetectCaptcha.ashx" type="BotDetect.Web.CaptchaHandler, BotDetect"/>
    <add name="CrystalImageHandler.aspx_GET" verb="GET" path="CrystalImageHandler.aspx" type="CrystalDecisions.Web.CrystalImageHandler, CrystalDecisions.Web, Version=13.0.2000.0, Culture=neutral, PublicKeyToken=692fbea5521e1304" preCondition="integratedMode"/></handlers>
    <httpErrors errorMode="Detailed"/>
    <asp scriptErrorSentToBrowser="true"/>
    <staticContent>
      <remove fileExtension=".woff2"/>
      <mimeMap fileExtension=".woff2" mimeType="font/woff2"/>
    </staticContent>
  </system.webServer>
  <!--<rewriter>-->
    <!--<rewrite url="^~/proizvodi/(.+).html/?(.+)?" to="~/products.aspx?category=$1&amp;$2" processing="stop"></rewrite>
    <rewrite url="^~/proizvodi/(.+)/(.+)/?$" to="~/product.aspx?productID=$2" processing="stop"/>
    <rewrite url="^~/proizvodi/(.+)/?$" to="~/filter.aspx?category=$1" processing="stop"/>
    <rewrite url="^/o-nama/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/gde-kupiti/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/uputstvo-za-kupovinu/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/najcesca-pitanja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/nacini-placanja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/nacini-placanja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/povracaj-robe/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/rokovi-isporuke/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/pravni-subjekti/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/garancije-reklamacije-servis/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/kontakti-ovlascenih-servisera/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/lista-zelja/?$" to="~/wishList.aspx" processing="stop"/>
    <rewrite url="^/korpa/?$" to="~/cart.aspx" processing="stop"/>
    <rewrite url="^/zaposlenje/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/kako-kupiti/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/porucivanje/?$" to="~/checkout.aspx" processing="stop"/>
    <rewrite url="^/registracija/?$" to="~/registration.aspx" processing="stop"/>
    <rewrite url="^/prijava(.*)/?$" to="~/login.aspx" processing="stop"/>
    <rewrite url="^/resetovanje-sifre/?$" to="~/passwordResetRequest.aspx" processing="stop"/>
    <rewrite url="^/kreiranje-korisnicke-sifre(.+)/?$" to="~/passwordReset.aspx" processing="stop"/>
    <rewrite url="^/kontakt" to="~/kontakt.aspx" processing="stop"/>
    <rewrite url="^/moj-nalog" to="~/account.aspx" processing="stop"/>
    <rewrite url="^/izmena-sifre" to="~/passwordChange.aspx" processing="stop"/>
    <rewrite url="^/pretraga(.+)/?$" to="~/search.aspx" processing="stop"/>
    <rewrite url="^/uslovi-koriscenja/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/politika-privatnosti/?$" to="~/customPage.aspx?url=$0" processing="stop"/>
    <rewrite url="^/wqeqwe/?$" to="~/promotion.aspx?url=$0" processing="stop"/>
  </rewriter>-->
</configuration>